name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # ---------- Backend ----------
      - name: Install backend deps
        working-directory: backend
        run: npm install

      - name: Test backend
        working-directory: backend
        run: npm test --if-present

      - name: Build backend
        working-directory: backend
        run: npm run build --if-present

      # ---------- Frontend ----------
      - name: Install frontend deps
        working-directory: frontend
        run: npm install

      - name: Test frontend
        working-directory: frontend
        run: npm test --if-present

      - name: Build frontend
        working-directory: frontend
        run: npm run build
